<uib-accordion-group>
    <uib-accordion-heading>
        <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Change your password
    </uib-accordion-heading>
    <div class="col-md-12">
        <form role="form" novalidate class="css-form">
            <div class="form-group col-md-10">
                <label for="user.oldPwd" class="col-md-2">Current password:</label>
                <div class="col-md-2">
                    <input type="password" ng-model="user.oldPwd"/>
                </div>
            </div>
            <div class="form-group col-md-10">
                <label for="user.newPwd" class="col-md-2">New password:</label>
                <div class="col-md-2">
                    <input type="password" ng-model="user.newPwd"/>
                </div>
            </div>
            <div class="form-group col-md-10">
                <label for="user.repeatNewPwd" class="col-md-2">Re-type new password:</label>
                <div class="col-md-2">
                    <input type="password" ng-model="user.repeatNewPwd"/>
                </div>
                <div class="col-md-6 alert alert-warning" ng-show="user.newPwd !== user.repeatNewPwd">
                    The new password and the repeated password should match.
                </div>
            </div>
            <div class="form-group col-md-8">
                <button ng-click="changePassword()">Change my password</button>
            </div>
        </form>
    </div>
</uib-accordion-group>
