<div class="row">
    <div class="col-md-offset-1 col-lg-8 col-md-8 col-xs-12">
        <h3>Terms of Use</h3>
        <p>Last updated:</p>
        <p>Please read these Terms of Use ("Terms", "Terms of Use") carefully before using the https://ega.crg.eu/beacon/#/ website (the "Service") operated by the European Genome-Phenome Archive  ("EGA", "us", "we", or "our").</p>
        Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
        By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service, either through the web interface or through its Application Programming Interface (API).</p>
        <h3>Prohibited Uses</h3>
        <p>The Service is provided as a benefit and is intended to provide a valuable and useful tool for promoting openness and collaboration between individuals, research communities, industry, public bodies and other stakeholders interested in developing the future of personal genomics technologies and practices. It is not intended for any illegal or other inappropriate use. Among other things, this means that you agree not to use the Service to:</p>
        <p>(a) commit any crime or further any illegal or dishonest purpose or perform or further any activity prohibited by this Agreement;</p>
        <p>(b) interfere with any other individual's use or enjoyment of the Service;</p>
        <p>(c) re-identify individuals whose data is possibly served through the Service;</p>
        <p>(d) obtain information about an insured person or employee on behalf of or for the benefit of such individual's insurer or employer;</p>
        <p>(e) create or submit unwanted email, comments or other postings or information through the Service, otherwise known as "Spam";</p>
        <p>(f) transmit any worms or viruses or any code of a destructive or disruptive nature through the Service; or</p>
        <p>(g) upload, email, or otherwise make available on the Service any content that infringes upon any proprietary rights of a third party, such as copyrights or privacy or publicity rights, or that is otherwise illegal, harmful, abusive or otherwise objectionable.</p>
        <p>Violation of any condition above, or any other conduct that is inconsistent with the mission of EGA, may result in the immediate blocking of you from this service and may result in EGA taking legal action against you.</p>
        <h3>Termination</h3>
        <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
        <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
        <h3>Governing Law</h3>
        <p>These Terms shall be governed and construed in accordance with the laws of the European Union, without regard to its conflict of law provisions.</p>
        <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
        <h3>Changes</h3>
        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 60 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
        <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
        <h3>Contact Us</h3>
        <p>If you have any questions about these Terms, please contact us.</p>
    </div>
</div>
