<!DOCTYPE html>
<html lang="en" ng-app="beaconApp">
    <head>
        <meta charset="utf-8" />
        <!-- build:css css/combined.css -->
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" href="js/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="js/node_modules/angular-ui-grid/ui-grid.min.css"/>
        <link rel="stylesheet" type="text/css" href="js/node_modules/angular-growl-v2/build/angular-growl.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/titillium.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.beacon.css"/>
        <!-- endbuild -->
        <title>Elixir Beacon</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                    <h1>Elixir Beacon</h1>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
                    <img src="img/ELIXIR_logo.png" class="pull-right img-responsive"/>
                </div>
		<a class="elixir-login" href="http://elixir-beacon.csc.fi/login">Login</a>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 well">
                    <div ng-controller="beaconsInfoController">
			<span ng-if="has_session">You are now logged in <span ng-if="authorized == true" style="font-weight:bold" class="text-success">and identified as bona fide researcher!</span> <span ng-if="authorized == false" class="text-danger">but not identified as a bona fide researcher</span></span>
			<span ng-if="has_session == null">You are <span ng-if="authorized == false" style="font-weight:bold"  class="text-danger">not logged in!</span> Please note that in order to access restricted datasets you have to log in as a bona fide researcher!</span>
		    </div>
                </div>
            </div>
            <div class="row">
                <div ui-view></div>
            </div>
            <div growl></div>
        </div>
        <!-- General app initialization and configuration services -->
	<script type="text/javascript">
		var appName = 'beaconApp',
		appEnv  = 'DEV';
	</script>
	<!-- build:js js/app.js -->
        <script type="text/javascript" src="js/node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="js/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/node_modules/underscore/underscore-min.js"></script>

        <script type="text/javascript" src="js/node_modules/filesaver.js/FileSaver.min.js"></script>

        <script type="text/javascript" src="js/node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/node_modules/angular-cookies/angular-cookies.min.js"></script>

        <script type="text/javascript" src="js/node_modules/restangular/dist/restangular.min.js"></script>
        <script type="text/javascript" src="js/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="js/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

        <script type="text/javascript" src="js/node_modules/angulartics/dist/angulartics.min.js"></script>
        <script type="text/javascript" src="js/node_modules/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
        <script type="text/javascript" src="js/node_modules/angular-growl-v2/build/angular-growl.min.js"></script>
        <script type="text/javascript" src="js/node_modules/angular-ui-grid/ui-grid.js"></script>

        <script type="text/javascript" src="js/app/ui-grid/ui-grid-basecontroller.js"></script>
        <script type="text/javascript" src="js/app/ui-grid/ui-grid-loading.js"></script>
        <script type="text/javascript" src="js/app/config.beacon.docker.js"></script>
        <script type="text/javascript" src="js/app/navigation/navigation.beacon.js"></script>

        <script type="text/javascript" src="js/app/app.beacon.js"></script>
        <script type="text/javascript" src="js/app/app.shared.js"></script>

        <script type="text/javascript" src="js/app/services/resources.js"></script>
        <script type="text/javascript" src="js/app/services/ega_filters.js"></script>
        <script type="text/javascript" src="js/app/enums/enums.js"></script>

        <script type="text/javascript" src="js/app/services/eu.crg.ega.session.js"></script>
        <script type="text/javascript" src="js/app/pages/panel.js"></script>
        <script type="text/javascript" src="js/app/users/users.js"></script>
        <script type="text/javascript" src="js/app/sessions/login.js"></script>
        <script type="text/javascript" src="js/app/beacons/beacons.js"></script>
        <!-- endbuild -->
        <script type="text/javascript" src="js/templates.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"/>
	<script>
	$(document).ready(function() {
	     if ($.cookie('JSESSIONID')) {
		$('.elixir-login').hide();
	     }
	 });
	</script>
    </body>
</html>
